# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks  |
| RStudio            |
| PyCharm            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
result = (3 * 4) + 5
print(result)

17

In [2]:
#Exercise 9 - Create a code cell to convert minutes to hours:

hours = 200 / 60
print(hours)

3.3333333333333335

##Exercise 10 - Insert a markdown cell to list objectives:

**Objectives:**
- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Explore Data Science tools and their applications.

Exercise 11 - Create a markdown cell to indicate the author's name:

## Author
Katia Sioufi